html, body {
    background-color: #f9f9f9;
}


/* 네비 */
.nav {
    border-bottom: 1px solid #E0E0E0;
}

.nav ul {
    margin-right: 300px;
}

.nav ul li {
    display: block;
    float: right;
    padding: 0 16px;
    margin: 8px 0;
    border-right: 1px solid #878787;
}

.nav .nav_li_1 {
    border: none;
}

.nav ul li a {
    text-decoration: none;
    color: #878787;
    font-size: 0.8em;
}

.nav li:hover {
    color: #000000;
    font-weight: bolder;
}

.nav::after {
    content: "";
    display: table;
    clear: both;
}


/* 타이틀 */
.title {
    border-bottom: 1px solid #E0E0E0;
    display: block;
}

.tt {
    float: right;
    position: relative;
    left: -50%;
}

.title .logo, .title .search_icon, .title .search_text_box {
    float: left;
    margin: 16px 4px;
    position: relative;
    left: 50%;

}

.title .logo h3 a {
    text-decoration: none;
    font-size: 2em;
    font-weight: bolder;
    color: #492BFA;
}

.title .search_icon i {
    font-size: 2em;
    font-weight: lighter;
    color: #492BFA;
}

.title .search_text_box input {
    height: 2.5em;
    border: none;
    background-color: #f9f9f9;
    border-bottom: 1px solid #492BFA;
}

.title .search_text_box input:focus {
    outline: none;
}

.title::after {
    content: "";
    display: table;
    clear: both;
}


/* 메뉴바 */
.menubar {
    border-bottom: 1px solid #E0E0E0;
    background-color: #f9f9f9;
    display: block;
    position: sticky;
    top: 0%;
    z-index: 1;
    /* box-shadow: 0px 5px 10px 0px lightgray; */
}

/*  */

#sub-menu {
    width: 200px;
    margin-top: 8px;
    padding: 24px;
    position: absolute;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
    box-shadow: 0px 5px 10px 5px lightgray;
}

#sub-menu > a {
    font-size: 0.8em;
    color: #646464;
    text-decoration: none;
}

.uu_mm > li:hover #sub-menu {
    opacity: 1;
    visibility: visible;
}

.menu_li_1 #sub-menu > a:hover {
    text-decoration: underline;
    color: #492BFA;
}

.menu_li_2 #sub-menu > a:hover {
    text-decoration: underline;
    color: #4CE033;
}

.menu_li_3 #sub-menu > a:hover {
    text-decoration: underline;
    color: #FA2BB6;
}

/*  */

.menubar ul {
    float: right;
    position: relative;
    left: -50%;
}

.menubar ul li {
    float: left;
    padding: 0 100px;
    margin: 16px 0;
    position: relative;
    left: 50%;
}

.menubar ul li a {
    text-decoration: none;
    font-size: 1.4em;
    color: #646464;
}

.menubar .menu_li_1:hover a{
    color: #492BFA;
}

.menubar .menu_li_2:hover a{
    color: #4CE033;
}

.menubar .menu_li_3:hover a{
    color: #FA2BB6;
}

.menubar::after {
    content: "";
    display: table;
    clear: both;
}


/* main */
.main {
    /* z-index: 10; */
    border-bottom: 1px solid #E0E0E0;
    
}

.mmain {
    width: 1200px;
    margin-left: 300px;
    margin-right: 300px;
    margin: 0 auto;
}

.mmain img {
    width: 250px;
}

.main .hh {
    margin: 0 40px;
    border-bottom: 1px solid #878787;
}

.main .hh h3 {
    margin: 32px 0 20px 0;
    font-size: 2em;
    font-weight: 500;
    color: #646464;
}

.main .hh h3 .span2 {
    font-size: 0.6em;
}



/* 상품 라인1 */
/* .main .main_line_1 .mm {
    margin: 20px 0;
    float: right;
    position: relative;
    left: -50%;
} */

.main .main_line_1 {
    margin-left: 20px;
}

.main .main_line_1 .product_box {
    background-color: #ffffff;
    margin: 16px 20px 16px 20px;
    width: 250px;
    height: 350px;
    display: block;
    /* position: relative; */
    float: left;
    text-align: center;
    /* left: 50%; */

    box-shadow: 0px 5px 10px 0px lightgray;
}

.main .main_line_1 .mm .product_box h3 {
    margin: 40px 0;
    color: #434343;
    font-size: 2em;
}

.main .main_line_1 .mm .product_box h4 {
    margin: 18px 0;
    color: #767676;
    font-size: 1.2em;
}

.main .main_line_1::after {
    content: "";
    display: table;
    clear: both;
}


/* 끝 */
.end {
    text-align: center;
    margin: 40px 0;
}

.end p {
    color: #646464;
}